<% if @user.id == current_user.id %>

	<article class="acceptedProjects">
		<h3>My Projects</h3>
		<% @user.project_memberships.accepted.each do |m| %>
    		<b><%= m.project.name %></b><br />
    	<% end %>
 	</article>

 	<article class="pendingProjects">
		<h3>Pending Projects</h3>
		<% @user.project_memberships.pending_joins.each do |m| %>
   	 		<b><%= m.project.name %></b><br />
    	<% end %>
	</article>
	
	<%= link_to "New Project", new_project_path %>


	<article class="delete">
		<td><%= link_to 'Delete me', @user, confirm: 'Just do it!', method: :delete %></td>
	</article>

<% else %>
	<p> <%= @user.email %> </p>
<% end %>