<p id="notice"><%= notice %></p>

<h1><%= @project.name %></h1>

<% if @project.has_user?(current_user) %>
	<div id="task-field">
  		<%= render :partial => 'tasks/form' %>
	</div>
<% end %>

<!--<%= link_to 'Join', new_project_membership_path(@project) %>-->
<%= link_to 'Join', :controller => "project_memberships", :action => "create", :id => @project %>

<% @project.tasks.each do |task| %>
	<article>
		<div class="task">
			<b><%= task.name %></b>
   			<% task.comments.each do |c| %>
   				<p><%= c.body %></p>		
   			<% end %>
   		</div>
      <% if @project.has_user?(current_user) %>
   		<div id="comment-field">
  			<%= render :partial => "comments/form", :locals => {:task => task, :comment => task.comments.build} %>
  		</div>
      <% end %>
  	</article>
<% end %>

<p>users working on this project:</p>
<% @project.users.each do |user| %>
  <p>
    <b><%= user.email %></b><br />
  </p>
<% end %>

<h1>Project News</h1>
<% @project.tasks.newly_added_tasks.each do |t| %>
  <p><%= t.name %></p>    
<% end %>
