<p id="notice"><%= notice %></p>

<b><%= @project.name %></b>

<% if current_user %>
	<div id="task-field">
  		<%= render :partial => 'tasks/form' %>
	</div>
<% end %>

<% @project.tasks.each do |task| %>
  <p>
    <b><%= task.name %></b><br />
  </p>
  <%= render :partial => "comments/form", :locals => {:task => task, :comment => task.comments.build} %>
<% end %>

<p>users working on this project:</p>
<% @project.users.each do |user| %>
  <p>
    <b><%= user.email %></b><br />
  </p>
<% end %>





