<p id="notice"><%= notice %></p>

<b><%= @project.name %></b>
  
<div id="task-field">
  <%= render :partial => 'tasks/form' %>
</div>

<% @project.tasks.each do |task| %>
  <p>
    <b><%= task.name %></b><br />
  </p>
<% end %>

<p>users working on this project:</p>
<% @project.users.each do |user| %>
  <p>
    <b><%= user.email %></b><br />
  </p>
<% end %>





