<p id="notice"><%= notice %></p>

<h1 id="projectName"><%= @project.name %></h1>


<% if !@project.has_user?(current_user) %>
<% if !@project.false_user?(current_user)%>
  <%= link_to 'Join', :controller => "project_memberships", :action => "create", :id => @project %>
<% end %> 
<% end %> 


<% if @project.has_user?(current_user) %>
	<div id="task-field">
  		<%= render :partial => 'tasks/form' %>
	</div>
<% end %> 

<article id"tasksComments">
<% @project.tasks.each do |task| %>
		<div class="task">
			<b><%= task.name %></b>
        <div class="comment">
   			<% task.comments.each do |c| %>
   				<p><%= c.body %></p>		
   			<% end %>
   		  </div>
    </div>
      <% if @project.has_user?(current_user) %>
   		<div id="comment-field">
  			<%= render :partial => "comments/form", :locals => {:task => task, :comment => task.comments.build} %>
  		</div>
      <% end %>
<% end %>
</article>

<p>users working on this project:</p>
<% @project.project_memberships.accepted.each do |m| %>
  <p>
    <b><%= m.user.email %></b><br />
  </p>
<% end %>

<h1>Project News</h1>
<% @project.tasks.newly_added_tasks.each do |t| %>
  <p><%= t.name %></p>    
<% end %>

<% if @project.has_user?(current_user) %>
  <% ProjectMembership.pending_joins.each do |pm| %>
    <% if pm.user_id != current_user.id %>
      <% user = User.find(pm.user_id) %>
      <p><%= link_to "Accept " << user.email, :controller => "project_memberships", :action => "accept_join", :id => pm.id %></p> 
    <% end %>
  <% end %>
<% end %> 
